


<div class="row">

  <div id="botones" class="col-md-4">
    <div>
      <h2>BUZEER</h2>
      <button id="alarmabtn" type="button" class="btn btn-secondary btn-lg rounded-0" (click)="reproducirSonido()"
      style="--bs-btn-padding-y: 5%; --bs-btn-padding-x: 25%; --bs-btn-font-size: 2rem;">Alarma</button>

    </div>

    <br>

    <div>
      <h2>CRONOMETRO</h2>
      <button id="alarmabtn" type="button" class="btn btn-success btn-md rounded-0"
      style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem;">Start</button>
      <button id="alarmabtn" type="button" class="btn btn-warning btn-md rounded-0"
      style="--bs-btn-padding-y: 2rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem;">Stop</button>

      <h6 style="color: white;">Control de Segundos</h6>
      <button id="mastiempo" type="button" class="btn btn-secondary btn-sm rounded-0">(+)</button>
      <button id="menostiempo" type="button" class="btn btn-secondary btn-sm rounded-0">(-)</button>
    </div>

    <br>

    <div>
      <h2>POSICION</h2>
      <button id="mastiempo" type="button" class="btn btn-secondary btn-lg rounded-0"
      style="width: 200px;"><</button>
      <button id="menostiempo" type="button" class="btn btn-secondary btn-lg rounded-0"
      style="width: 75px;">-</button>
      <button id="mastiempo" type="button" class="btn btn-secondary btn-lg rounded-0"
      style="width: 200px;">></button>
    </div>

    <br>

    <div>
      <h2>SHOT CLOCK</h2>
      <button id="mastiempo" type="button" class="btn btn-secondary btn-md rounded-0">Iniciar</button>
      <button id="menostiempo" type="button" class="btn btn-secondary btn-md rounded-0">Pausar</button>
      <button id="mastiempo" type="button" class="btn btn-secondary btn-md rounded-0">Set</button>
    </div>

    <br>

    <div>
      <h2>PARAMETROS DE PARTIDO</h2>
      <select> Periodo:
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>
  <div id="local" class="col-md-4">
    <h1>PUNTUACION LOCAL</h1>
    <h2>ABA ANCUD</h2>

    <div>
      <ul id="lista-jugadores">
        <table style="border-collapse: separate; border-spacing: 10px;">
          <thead>
            <tr>
              <th style="color: white;">Jugador</th>
              <th style="color: white;">Suma puntos</th>
              <th style="color: white;">Resta puntos</th>
              <th style="color: white;">Faltas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let jugador of jugadores1">
              <td style="color: white;">{{ jugador.nombre }}</td>
              <td>
                <button (click)="aumentarPuntuacionLocal(1)" style="background-color: #bf6c26;">+1</button>
                <button (click)="aumentarPuntuacionLocal(2)" style="background-color: #bf6c26;">+2</button>
                <button (click)="aumentarPuntuacionLocal(3)" style="background-color: #bf6c26;">+3</button>
              </td>
              <td>
                <button (click)="aumentarPuntuacionLocal(-1)" style="background-color: #bf6c26;">-1</button>
                <button (click)="aumentarPuntuacionLocal(-2)" style="background-color: #bf6c26;">-2</button>
                <button (click)="aumentarPuntuacionLocal(-3)"style="background-color: #bf6c26;">-3</button>
              </td>
              <td>
                <button style="background-color: #eb4825;">+1</button>
                <button style="background-color: #eb4825;">-1</button>
              </td>
            </tr>
          </tbody>
        </table>
    </ul>
    </div>
  </div>

  <div id="visita" class="col-md-4">
      <h1>PUNTUACION VISITA
        <button id="configuracion" type="button" class="btn btn-secondary btn-md rounded-0">Configuracion</button>
      </h1>
      <h2>BOSTON COLLEGE</h2>

      <div>
        <ul id="lista-jugadores">
              <table style="border-collapse: separate; border-spacing: 10px;">
                <thead>
                  <tr>
                    <th style="color: white;">Jugador</th>
                    <th style="color: white;">Suma puntos</th>
                    <th style="color: white;">Resta puntos</th>
                    <th style="color: white;">Faltas</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let jugador of jugadores1">
                    <td style="color: white;">{{ jugador.nombre }}</td>
                    <td>
                      <button (click)="aumentarPuntuacionVisita(1)" style="background-color: #bf6c26;">+1</button>
                      <button (click)="aumentarPuntuacionVisita(2)" style="background-color: #bf6c26;">+2</button>
                      <button (click)="aumentarPuntuacionVisita(3)" style="background-color: #bf6c26;">+3</button>
                    </td>
                    <td>
                      <button (click)="aumentarPuntuacionVisita(-1)" style="background-color: #bf6c26;">-1</button>
                      <button (click)="aumentarPuntuacionVisita(-2)" style="background-color: #bf6c26;">-2</button>
                      <button (click)="aumentarPuntuacionVisita(-3)" style="background-color: #bf6c26;">-3</button>
                    </td>
                    <td>
                      <button style="background-color: #eb4825;">+1</button>
                      <button style="background-color: #eb4825;">-1</button>
                    </td>
                  </tr>
                </tbody>
              </table>
      </ul>
      </div>
  </div>



</div>





